header{
    background-color: bisque;
    color: sienna
}

.info{
    background-color: wheat);
    color: steelblue;
}

h3{
    background-color: aliceblue;
    color: purple;
}

h4{
    background-color: aliceblue;
    color: purple;
}